@import "tailwindcss";

body {
  font-family: var(--font-body), sans-serif;
  background-color: #ffffff;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 41%,
    rgba(219, 219, 219, 1) 100%
  ) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
